body{
	background-color: #000033;
}

img{
	width: 35px;
	height: 35px;
	float: left;
}
@media screen and (max-width: 600px){
	img{
		width: 20px;
		height: 20px;
	}
}

	header{
		margin-top: 50px;
		max-width: 100%;
	}
		
	 @media screen and (max-width: 600px) {
  header, hr{
    max-width: 100%;
    margin-left: 1px;
  }
}
		
		h3{
			margin: auto;
			background-color: rgba( 192, 192, 192, .3);
			font-size: xx-large;
			font-family: Times New Roman;
			font-style: oblique;
			text-transform: capitalize;
			text-align: center;
			color: yellow;
			font-weight: bolder;
		}
		
    @media screen and (max-width: 600px) {
        h3{
          font-size: large;
  }
}
		
		#maincontainer{
		  max-width: 100%;
		  margin: 5px 15px;
		}
		
		@media screen and (max-width: 600px) {
  #maincontainer{
    max-width: 100%;  
    margin: 5px 15px;
  }
}

		fieldset{
			width: 95%;
	}
	
	@media screen and (max-width: 600px) {
      fieldset{
        width: 80%;  
        border: 1px solid red;
        margin-right: 3em;
  }
}

						legend{
							color: yellow;
							font-size: x-large;
							border: 1px solid red;
						}
						
								label{
									color: cyan;
									text-transform: capitalize;
									display: block;
									font-size: large;
								}
								
							#main{
								  margin-top: 40px;
								  display: block;								  
								}
								
								#updiv{
								  float: right;
								}
				@media screen and (max-width: 600px) {
          #updiv{
             width: 100%;  
             display: inline-block;
             
      }
    }
    
        .pic{
          font-size: small;
          float: right;
          width: 75%;
        }
								
			#upload{
				 font-size: x-small;
				 display: inline-block;
			}
								  
								#info{
								  padding-top: 50px;
								  clear: both;
								}

									.in{
									  padding: 2px 5px;
										width: 40%;
										font-size: large;
										border-radius: 3px;
										font-family: Geogia;
										display: block;
										margin: 6px 0px;
									}
									
								.address{
										font-style: italic;
										width: 40%;
										font-size: large;
										border-radius: 3px;
										font-family: Geogia;
										padding: 2px 5px;
										margin: 6px 0px;
										display: block;
									}
	
		@media screen and (max-width: 600px) {
    .in, .address{
        width: 90%;  
      }
    }


					.gender{
							color: cyan;
							text-transform: capitalize;
							font-size: large;
							display: inline-block;
						}

						.genderop1{
							color: cyan;
							text-transform: capitalize;
							font-size: x-small;
							display: inline-block;
							margin-left: 65px;
											
						}
						
					.genderop2{
							color: cyan;
							text-transform: capitalize;
							font-size: x-small;
							display: inline-block;
							margin-left: 5px;
											
						}
						
						.dob{
							color: cyan;
							text-transform: capitalize;
							font-size: large;
							display: block;
							margin: 6px 0px;
							padding: 2px 5px;
						}

						#datemax{
							color: black;
							background-color: white;
							text-transform: capitalize;
							font-size: x-small;
							margin-left: 55px;
						}

						.chk{
							color: cyan;
							display: inline-block;
							font-size: small;
						}

						.nation{
							margin-left: 93px;
							color: black;
							background-color: white;
							width: 25%;
						}

						.paint{
							margin-left: 30px;
							margin-top: 6px;
							margin-bottom: 6px;
							width: 25%;

						}
						
						@media screen and (max-width: 600px) {
          .nation, .paint{
             width: 30%;  
      }
    }
						
						#comnt{
						
						}

						textarea{
							margin-left: 20px;
							overflow: scroll;
							background-color: white;
							color: black;
							box-sizing: border-box;
						}
						
						@media screen and (max-width: 600px) {
          textarea{
             max-width: 90%;
             margin-left: 1px;
      }
    }
						
						.aha{
						  float: right;
						  text-decoration: none;
						}
						button{
							cursor: pointer;
						  	color: white;
						  	background-color: blue;
						  	margin-bottom: 75px;
						}
						
						
					    .ok{
								color: white;
								background-color: green;
								font-size: large;
							}

							.cancel{
								color: white;
								background-color: red;
								font-size: large;
								display: inline-block;
							}
							
							
	#bottomdiv{
			background-color:rgba( 192, 192, 192, .3);
							margin-top: 70px;
							height: 30px;	
	  
	}



			