body{
	background-color: #000033;
}

img{
	width: 35px;
	height: 35px;
	float: left;
	margin-left: 5px;
}
@media screen and (max-width: 600px){
	img{
		width: 30px;
		height: 30px;
	}
}

	header{
		margin-top: 50px;
		width: 99%;
		margin: auto;
	}
		
	 @media screen and (max-width: 600px) {
  header, hr{
    width: 100%;
    margin-left: 1px;
  }
}
		
		h3{
			margin: auto;
			background-color: rgba( 192, 192, 192, .3);
			font-size: 35px;
			font-family: Times New Roman;
			font-style: oblique;
			text-transform: capitalize;
			text-align: center;
			color: yellow;
			font-weight: bolder;
		}
		
    @media screen and (max-width: 600px) {
        h3{
          font-size: 30px;
  }
}
		
		#maincontainer{
		  width: 80%;
		  margin: auto;
		}
		
	@media screen and (max-width: 600px) {
    #maincontainer{
        width: 90%;  
  }
}

		fieldset{
			width: 95%;
			border: 1px solid red;
			margin-right: ;
	}
	
	@media screen and (max-width: 600px) {
      fieldset{
        width: 90%;  
  }
}

	legend{
		color: yellow;
		font-size: x-large;
		border: 1px solid red;
	}
						
	label{
		color: cyan;
		text-transform: capitalize;
		display: block;
		font-size: large;
	}
								
	#main{
		  margin-top: 40px;								  
		}
								
	#updiv{
	  float: right;
	}
@media screen and (max-width: 600px) {
    #updiv{
       width: 100%;  
       display: inline-block;
             
    }
 }
    
        .pic{
          font-size: small;
          float: right;
          width: 75%;
        }
								
			#upload{
				 font-size: x-small;
				 display: inline-block;
			}
								  
		#info{
		  padding-top: 50px;
		  clear: ;
		}

		.in{
		  padding: 2px 5px;
			width: 50%;
			font-size: large;
			border-radius: 3px;
			font-family: Geogia;
			display: block;
			margin: 6px 0px;
		}
		
		#fontDiv{
		  float: right;
		  margin-right: 40%;
		  background-color: ;
		  margin-top: -35px;
		}

#font1, #font2{
	display: none;
	color: ;

}

@media screen and (max-width: 600px) {
  #fontDiv{
    margin-right: 0px;
  }
}

#tooltip1{
	display: ;
	position: relative;
}

#hey{
	position: ;
	margin-top: ;
	z-index: 1;
}
#tooltiptext{
	font-size: x-small;
	font-family: sans-serif;
	color: red;
	text-transform: none;
}

#tooltiptext1 {
    display: none;
    width: 44.5%;
    background-color: antiquewhite;
    color: black;
    text-align: ;
    border-radius: 6px;
    padding: 10px 10px 10px 50px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: ;
    margin-left: ;
    text-transform: none;
    opacity: 0;
    transition: opacity 1s;
    transition-timing-function: ease-in-out;
}

#tooltiptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 11%;
    margin-left: ;
    border-width: 8px;
    border-style: solid;
    border-color: antiquewhite transparent transparent transparent;
}

@media screen and (max-width: 600px) {
	#tooltiptext1{
		width: 66%;
		bottom: 100%;
		left: ;
	}
}

@media screen and (max-width: 600px) {
	#tooltiptext1::after {
		top: ;
		left: 21%;
		border-color: red transparent transparent transparent;
	}
}

#showPasswordDiv{
	display: flex;
	background-color: ;
	margin-bottom: -12px;
	width: 50%;
}
@media screen and (max-width: 600px) {
    #showPasswordDiv{
        width: 80%;  
      }
    }

#checkBox{
	margin-left: 5px;
	position: relative;
	margin-top: -1px;
}

@media screen and (max-width: 600px) {
	#checkBox {
		margin-left: ;
	}
}

#show{
	font-size: x-small;
	margin-left: ;
	left: ;
	margin-right: ;
	position: relative;
	background-color: ;
	width: 100%;
	padding-top: 0px;
	color: cyan;
	text-align: right;
}

@media screen and (max-width: 600px) {
    #show{
         left: ;
         margin-right: ;
      }
    }
									
	.address{
			font-style: italic;
			width: 50%;
			font-size: large;
			border-radius: 3px;
			font-family: Geogia;
			padding: 2px 5px;
			margin: 6px 0px;
			display: block;
		}
	
@media screen and (max-width: 600px) {
    .in, .address{
        width: 80%;  
      }
    }


.gender{
		color: cyan;
		text-transform: capitalize;
		font-size: large;
		display: inline-block;
	}

.genderop1{
	color: cyan;
	text-transform: capitalize;
	font-size: x-small;
	display: inline-block;
	margin-left: 85px;
					
}
						
.genderop2{
		color: cyan;
		text-transform: capitalize;
		font-size: x-small;
		display: inline-block;
		margin-left: 5px;
						
	}
						
.dob{
	color: cyan;
	text-transform: capitalize;
	font-size: large;
	display: block;
	margin: 6px 0px;
	padding: 2px 5px;
}

#dateInp{
	color: black;
	background-color: white;
	text-transform: capitalize;
	font-size: x-small;
	margin-left: 104px;
	width: 26%;
}
@media screen and (max-width: 600px) {
  #dateInp{
    margin-left: 96px;
    width: 28%;
  }
}

.chk{
		color: cyan;
		display: inline-block;
		font-size: small;
	}
	
	.chkBox{
	  margin-top: 15px;
	  background-color: yellow;
	  color: red;
	  font-size: 60px;
	}

.nation{
	margin-left: 85px;
	color: black;
	background-color: white;
	width: 33%;
}

.paint{
	margin-left: 35px;
	margin-top: 6px;
	margin-bottom: 6px;
	width: 33%;

}
						
@media screen and (max-width: 600px) {
     .nation{
        width: 43%;  
        margin-left: 78px;
    }
}

@media screen and (max-width: 600px) {
     .paint{
        width: 43%;  
        margin-left: 28px;
    }
}
						
 .countryLabel, .favColLabel{
	    margin: 6px 0px;
	}
	
	#comnt{
	  display: grid;
	}

	textarea{
		margin-left: 1px;
		overflow: scroll;
		background-color: white;
		color: black;
		box-sizing: border-box;
		width: 52%;
		text
	}
						
@media screen and (max-width: 600px) {
     textarea{
      	width: 85%;
  }
}
						
						.aha{
						  float: right;
						  text-decoration: none;
						}
						#sign-in{
							cursor: pointer;
						  	color: white;
						  	background-color: blue;
						  	margin-top: ;
						}
						
						
					    .ok{
					      width: 20%;
					      height: 30px;
								color: white;
								background-color: green;
								font-size: large;
								cursor: pointer;
								border: 3px solid white;
								border-bottom: 5px solid #58fb86;
								border-radius: 4px;
							}

							.cancel{
							  width: 20%;
							  height: 29px;
								color: white;
								background-color: red;
								font-size: large;
								display: inline-block;
								cursor: pointer;
								border: 3px solid gray;
								border-radius: 3px;
							}
							
							
	#bottomdiv{
			background-color:rgba( 192, 192, 192, .3);
							margin-top: 70px;
							height: 30px;	
	  
	}

